<svg width="1000px"
  height="505px">
  <text x="930" y="240" font-family="sans-serif" font-size="25" fill="gray">Дата</text>
  <text x="15" y="275" font-family="sans-serif" font-size="25" fill="gray">0</text>
  <line x1="0" y1="15" x2="5" y2="0" stroke="black" stroke-width="2"/>
  <line x1="5" y1="0" x2="10" y2="15" stroke="black" stroke-width="2"/>
  <line x1="5" y1="0" x2="5" y2="500" stroke="black" stroke-width="3"/>
  <line x1="5" y1="250" x2="1000" y2="250" stroke="black" stroke-width="3"/>
  <!-- стрелки -->
  <line x1="985" y1="245" x2="1000" y2="250" stroke="black" stroke-width="2"/>
  <line x1="985" y1="255" x2="1000" y2="250" stroke="black" stroke-width="2"/>
  <text x="15" y="21" font-family="sans-serif" font-size="25" fill="gray">Погода</text>
</svg>