<div class="items__wrapper"
  *ngIf="currentCity$ | async as currentCity">
  <div class="slide">
    <mat-slide-toggle class=""
      [formControl]="toggle">
      Графики
    </mat-slide-toggle>
  </div>
  <div class="card"
    *ngIf="!toggle.value">
    <app-week-view-card [weather]="item"
      [currentCity]="currentCity.title"
      *ngFor="let item of currentCity.consolidated_weather"></app-week-view-card>
  </div>
  <div class="graph"
    *ngIf="toggle.value">


    <app-week-graph [weather]="currentCity.consolidated_weather"></app-week-graph>
  </div>
</div>
<div class="loader__wrapper"
  *ngIf="!(currentCity$ | async)">
  <app-loader></app-loader>
</div>