<div class="registration__wrapper">
  <mat-card class="registration_card">
    <div class="user">
      <mat-form-field class="example-full-width">
        <input matInput
          [formControl]="registration_login"
          placeholder="Введите логин"
          value="">
      </mat-form-field>
    </div>
    <div class="password">
      <mat-form-field class="example-full-width">
        <input matInput
          [formControl]="registration_password"
          placeholder="Введите пароль"
          type="password"
          value="">
      </mat-form-field>
    </div>
    <div class="accept">
      <button mat-raised-button
        (click)="registration()"
        [disabled]="isButtonDisabled || registration_login.invalid || registration_password.invalid"
        color="primary">Зарегистрироваться</button>
    </div>
    <div class="notification"
      [class.notification_success]='registrationDone'
      *ngIf="notification">{{notification}}</div>
  </mat-card>
</div>