.registration__wrapper {
  display: flex;
  position: absolute;
  top: 70px;
  height: calc(100vh - 110px);
  width: 100%;
  align-items: center;
  justify-content: center;
}
.registration_card {
  height: 300px;
  text-align: center;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  padding: 50px;
  width: 200px;
}
.notification {
  margin-top: 20px;
  text-align: center;
  font-size: 15px;
  color: red;
}
.notification_success {
  color: rgb(0, 255, 42);
}
.password {
  margin-bottom: 40px;
}
