<div class="wrapper">

  <div class="main__wrapper"
    [class.wide]="toogle">
    <div class="current__city"
      *ngIf="currentCity">
      <div class="city">
        <div class="city__title"> Выбранный город: {{currentCity.title}}</div>
        <div class="weather">{{currentCity.temp}}</div>

        <div class="fav">
          <app-favourite-start (click)="addToFavourite(currentCity)"
            [city]="currentCity"></app-favourite-start>
        </div>
        <div class="reset"><button mat-raised-button
            (click)="reset()"
            color="primary">Сбросить</button></div>

      </div>
      <div class="view">
        <app-weather-view [city]="currentCity"></app-weather-view>
      </div>
    </div>
    <div *ngIf="!currentCity"
      class="current__city">Выберите город</div>

  </div>
  <div class="aside__wrapper">
    <app-favourites [allCities]="allCities"
      (choose)="chooseCity($event)"
      [selectedCity]="selectedCity"></app-favourites>
  </div>
</div>