<div class="header__wrapper">
  <div class="header__title">Angular Weather Application</div>

  <div class="header__icon"><i class="fa fa-cloud"></i></div>
  <div class="login_feature">
    <div class="user"
      *ngIf="user$ | async as user">
      <div class="login">Привет, {{user}}!</div>
      <div class="logout"
        (click)="logout()"
        routerLink='login'>выйти</div>
    </div>
    <div class="not-log"
      *ngIf="!(user$ | async)">
      <div class="registration"
        routerLink='registration'
        routerLinkActive="active-link">регистрация</div>
      <div class="login"
        routerLink='login'
        routerLinkActive="active-link">войти</div>
    </div>
  </div>
</div>