.header__wrapper {
  background: #3f51b5;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  color: #e0e0e0;
  font-size: 24px;
  padding: 20px;
  text-align: center;
  border-radius: 0 0 5px 5px;
  display: flex;
  padding-left: 40px;
  height: 70px;
  box-sizing: border-box;
}

.header__title {
  margin-right: 15px;
  letter-spacing: 0.4px;
  color: white;
}
.login_feature {
  position: absolute;
  right: 40px;
}
.user,
.not-log {
  display: flex;
}
.login {
  margin-right: 15px;
  cursor: pointer;
}
.logout {
  cursor: pointer;
}
.registration {
  margin-right: 15px;
  cursor: pointer;
}
.active-link {
  color: white;
}
