.header__wrapper {
  background: #3f51b5;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  color: white;
  font-size: 24px;
  padding: 20px;
  text-align: center;
  border-radius: 0 0 5px 5px;
  display: flex;
  padding-left: 40px;
}
.header__title {
  margin-right: 15px;
  letter-spacing: 0.4px;
}
