@import url(https://fonts.googleapis.com/css?family=opensans:500);
.wrapper {
  top: 70px;
  height: calc(100vh - 110px);
  width: 100%;
  position: absolute;
  color: rgb(0, 174, 255);
  font-family: 'Open Sans', sans-serif;
  overflow: hidden;
  z-index: 2;
}

.c {
  text-align: center;
  display: block;
  position: relative;
  width: 80%;
  margin: 100px auto;
}

._1 {
  text-align: center;
  display: block;
  position: relative;
  letter-spacing: 12px;
  font-size: 4em;
  line-height: 80%;
}

._2 {
  text-align: center;
  display: block;
  position: relative;
  font-size: 20px;
}
