<div class="input__wrapper">
  <mat-form-field>
    <input matInput
      placeholder="Введите город"
      aria-label="Выберите город"
      [matAutocomplete]="auto"
      [formControl]="selectedCity">
    <mat-autocomplete #auto="matAutocomplete">
      <mat-option *ngFor="let city of allCities"
        [value]="city.title"
        (click)="chooseCity(city)">
        <span>{{ city.title }}</span>
      </mat-option>
    </mat-autocomplete>

  </mat-form-field>
  <mat-list>
    <h3 mat-subheader>избранные города</h3>
    <mat-list-item class="fav__item"
      *ngFor="let city of favs"
      (click)="chooseCity(city)">
      {{city.name}}
    </mat-list-item>
  </mat-list>
</div>