.input__wrapper {
  width: 80%;
  margin: auto;
  margin-top: 20px;
  box-shadow: 0px 0px 8px 0px black;
  height: 94%;
  box-sizing: border-box;
  padding: 30px;
  border-radius: 15px;
  text-align: center;
}
.input-city {
  width: 100%;
}
.list__item {
  cursor: pointer;
}
.fav__item {
  cursor: pointer;
}
