<mat-card class="item"
  routerLink='detail/{{weather.applicable_date}}/'>
  <mat-card-header class="date"> {{weather.applicable_date | convertDate:"DD MMM YYYY"}}</mat-card-header>
  <div class="row">
    <div class="col">
      <div class="grid__title">Макс. Темп.</div>
      <div class="grid__item">{{weather.max_temp | number:'.0-0'}}°C</div>
    </div>

    <div class="col">
      <div class="grid__title">Мин. Темп.</div>
      <div class="grid__item">{{weather.min_temp | number:'.0-0'}}°C</div>
    </div>

    <div class="col">
      <div class="grid__title">Состояние</div>
      <div class="grid__item">
        <img class="status"
          src="https://www.metaweather.com/static/img/weather/{{weather.weather_state_abbr}}.svg"
          alt="">
      </div>
    </div>


  </div>
</mat-card>