.status {
  width: 30px;
}
.grid {
  display: grid;
  grid-template-columns: 50% 50%;
  font-size: 18px;
  margin-top: 20px;
}
.data {
  text-align: right;
  margin-bottom: 5px;
}
.item {
  width: 500px;
}
